<%- include('../partials/header') %>

<div class="container">

<h1>All Amiibos</h1>

<div class="card-grid">

<% amiibos.forEach(amiibo => { %>

<div class="card">

<img src="<%= amiibo.image %>" alt="<%= amiibo.name %>">

<h3><%= amiibo.name %></h3>

<p><%= amiibo.character %></p>

<p><%= amiibo.amiiboSeries %></p>

<a href="/amiibos/<%= amiibo.head %>/<%= amiibo.tail %>">
View Details
</a>

</div>

<% }) %>

</div>

</div>

<%- include('../partials/footer') %>